<div class="container-fluid">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1>
        <span ng-if="!vm.role.$id" ng-bind="'common.new' | translate"></span>
        <span ng-if="vm.role.$id && vm.role.editing" ng-bind="'common.edit' | translate"></span>
        <span ng-bind="'common.rol' | translate"></span>
        <small ng-bind="' - ' + vm.role.$id" ng-if="vm.role.$id"></small>
      </h1>
    </div>
    <div class="panel-body">
      <ul class="list-inline text-center panel-options panel-options--top">
        <li ng-if="!vm.role.$id || !vm.role.editing">
          <a class="btn btn-default btn-sm" ui-sref="^.role-list">
            <i class="fa fa-fw fa-reply"></i>
            <span class="hidden-xs" ng-bind="'common.back' | translate"></span>
          </a>
        </li>
        <li ng-if="vm.role.$id && !vm.role.editing" hide-action permission="role" action="edit">
          <button class="btn btn-info" ng-click="vm.edit(true)">
            <i class="fa fa-fw fa-edit"></i>
            <span class="hidden-xs" ng-bind="'common.edit' | translate"></span>
          </button>
        </li>
      </ul>
      <div ng-form="formRole">
        <div class="form-group" ng-class="{ 'has-error': formRole.name.$invalid && (formRole.name.$dirty || formRole.$submitted) }">
          <label class="control-label" for="name"><span ng-bind="'common.name' | translate"></span>:</label>
          <input class="form-control" name="name" ng-disabled="vm.role.$id && !vm.role.editing" ng-model="vm.role.name" ng-required="true" type="text">
          <div class="help-block" ng-messages="formRole.name.$error" ng-show="(formRole.name.$dirty || formRole.$submitted) && formRole.name.$invalid">
            <div ng-messages-include="base/views/messages.html"></div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="description"><span ng-bind="'common.desc' | translate"></span>:</label>
          <input class="form-control" name="description" ng-disabled="vm.role.$id && !vm.role.editing" ng-model="vm.role.description" type="text">
        </div>
        <div class="form-group">
          <h5 class="text-uppercase text-center" ng-bind="'common.permissions' | translate"></h5>
          <ng-include src="'administration/views/rolePermissions.html'"></ng-include>
        </div>
        <ul class="list-inline text-center panel-options panel-options--bottom">
          <li ng-if="vm.role.editing">
            <button class="btn btn-default btn-sm" ng-click="vm.edit(false)" type="button">
              <i class="fa fa-fw fa-ban"></i>
              <span class="hidden-xs" ng-bind="'common.cancel' | translate"></span>
            </button>
          </li>
          <li ng-if="vm.role.editing || !vm.role.$id">
            <button class="btn btn-success" ng-click="formRole.$submitted = true; vm.save(formRole.$valid)">
              <i class="fa fa-fw fa-download"></i>
              <span class="hidden-xs" ng-bind="'common.save' | translate"></span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
