<section class="administration">
  <ui-breadcrumbs displayname-property="data.title" template-url="base/views/breadcrumbs.html"></ui-breadcrumbs>
  <div ui-view>
    <div class="metro">
      <div class="metro--blue" hide-action permission="user" action="list">
        <a ui-sref=".user-list">
          <i class="fa fa-fw fa-user"></i>
          <p>{{'admin.views.index.users' | translate}}</p>
        </a>
      </div>
      <div class="metro--cyan" hide-action permission="role" action="list">
        <a ui-sref=".role-list">
          <i class="fa fa-fw fa-user-md"></i>
          <p>{{'admin.views.index.roles' | translate}}</p>
        </a>
      </div>
    </div>
  </div>
</section>
