<div class="table-responsive">
  <table class="table table-bordered table-striped text-center">
    <thead>
      <tr>
        <th>{{'admin.views.rolePermissions.admin' | translate}}</th>
        <th class="text-center">{{'common.list' | translate}}</th>
        <th class="text-center">{{'common.create' | translate}}</th>
        <th class="text-center">{{'common.read' | translate}}</th>
        <th class="text-center">{{'common.update' | translate}}</th>
        <th class="text-center">{{'common.delete' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-left">{{'admin.views.rolePermissions.roles' | translate}}</td>
        <td>
          <input type="checkbox" ng-model="vm.user.permissions.role.list" ng-disabled="vm.user.$id && !vm.user.editing">
        </td>
        <td>
          <input type="checkbox" ng-model="vm.user.permissions.role.create" ng-disabled="vm.user.$id && !vm.user.editing">
        </td>
        <td>
          <input type="checkbox" ng-model="vm.user.permissions.role.read" ng-disabled="vm.user.$id && !vm.user.editing">
        </td>
        <td>
          <input type="checkbox" ng-model="vm.user.permissions.role.edit" ng-disabled="vm.user.$id && !vm.user.editing">
        </td>
        <td>
          <input type="checkbox" ng-model="vm.user.permissions.role.remove" ng-disabled="vm.user.$id && !vm.user.editing">
        </td>
      </tr>
      <tr>
        <td class="text-left">{{'admin.views.rolePermissions.users' | translate}}</td>
        <td>
          <input type="checkbox" ng-model="vm.user.permissions.user.list" ng-disabled="vm.user.$id && !vm.user.editing">
        </td>
        <td>
          <input type="checkbox" ng-model="vm.user.permissions.user.create" ng-disabled="vm.user.$id && !vm.user.editing">
        </td>
        <td>
          <input type="checkbox" ng-model="vm.user.permissions.user.read" ng-disabled="vm.user.$id && !vm.user.editing">
        </td>
        <td>
          <input type="checkbox" ng-model="vm.user.permissions.user.edit" ng-disabled="vm.user.$id && !vm.user.editing">
        </td>
        <td>
          <input type="checkbox" ng-model="vm.user.permissions.user.remove" ng-disabled="vm.user.$id && !vm.user.editing">
        </td>
      </tr>
    </tbody>
  </table>
</div>
