<div ng-controller="NavigationCtrl as nav">
  <div class="colorgraph"></div>
  <div id="logo">
    <img alt="Ciris Informatic Solutions" class="img-responsive center-block" src="/resources/images/Ciris-color.png">
  </div>
  <nav>
    <div class="header-link hide-menu" cis-minimize>
      <i id="MinimizerIcon" class="fa fa-fw fa-chevron-left"></i>
    </div>
    <p class="text-muted">
      <i class="fa fa-fw {{nav.icon()}}"></i>
      <span ng-bind="nav.getTitle()"></span>
    </p>
  </nav>
</div>
<div class="clearfix"></div>
