<div id="navigation" ng-controller="NavigationCtrl as nav">
  <div class="profile-picture">
    <a href="index.html">
      <img ng-src="data:image/jpeg;base64,{{nav.user.photo}}" class="img-circle center-block"/>
    </a>
    <div class="stats-label text-color">
      <strong class="text-uppercase" ng-bind="nav.user.name">User Name</strong>
      <div class="dropdown" uib-dropdown >
        <a class="dropdown-toggle" uib-dropdown-toggle>
          <small class="text-muted">
            <span ng-bind="nav.user.role">User Role</span>
            <b class="caret"></b>
          </small>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a><i class="fa fa-fw fa-user"></i>Profile</a>
          </li>
          <li class="divider"></li>
          <li>
            <a ng-click="nav.logout()">
              <i class="fa fa-fw fa-sign-out"></i>
              <span ng-bind="'base.views.navigation.logout' | translate"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <ul class="nav" id="side-menu">
    <li ui-sref-active="active" ng-repeat="state in nav.states track by state.name">
      <a ui-sref="{{state.name}}">
        <i class="fa fa-fw {{state.data.icon}}"></i>
        <span class="nav-label">{{state.data.menu | translate}}</span>
      </a>
    </li>
  </ul>
</div>
